# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo

# ==========================
# Virtual Environment
# ==========================
venv/
.venv/
env/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Datasets
# ==========================
datasets/

# ==========================
# Models
# ==========================
models/

# ==========================
# Outputs
# ==========================
outputs/

# ==========================
# Temporary Files
# ==========================
*.log
*.tmp

# ==========================
# Operating System
# ==========================
Thumbs.db
.DS_Store